{% extends 'base.html' %}
{% load static %}

{% block content %} 
<div class="container text-success">
    <div class="row text-center mt-3 justify-content-center">
        <div class="col-12 text-center"><img src="{% static 'img/logo.png' %}" alt="logo" class="img img-fluid" style="max-width: 400px;"></div>        
    </div>

    <form action="" method="post" class="row justify-content-end mt-5">
        {% csrf_token %}
        <p class="text-center"><img src="{% static 'img/triste.png' %}" style="width: 50px;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Parece que você não ficou satisfeito com nosso posto, nos fale como melhorar... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="{% static 'img/triste.png' %}" style="width: 50px;"></p>
        
        
        <div class="col-12 p-2 rounded border mt-3">
            <textarea name="observacao" class="form-control mt-2" placeholder="Descreva sua experiência aqui, vamos estar sempre buscando melhorar..." rows="10" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary col-md-3 mt-4">Enviar</button>


    </form>
</div>


{% endblock %}