{% extends 'base.html' %}
{% load static %}

{% block content %} 
<div class="container text-success mt-4">
    <div class="row text-center">
        <div class="col-12 text-center">
            <img src="{% static 'img/logo.png' %}" alt="logo" class="img img-fluid" style="max-width: 300px;">
            <br><br>
            <h1 class="mt-4">Agradecemos Sua Participação!!!</h1>       
            <br>             
            <p>Sua resposta é muito importante para melhorarmos nosso atendimento!!!</p>            
        </div>
        <hr>
        {% include 'link_app.html' %}
    </div>
</div>


{% endblock %}